
<h3><%= flash[:notice]%></h3>

Looking for <strong>Microsoft Business Intelligence</strong> developer?<br /><br />
You found the one. <br /><br />

I am a contractor who got over 9+ years of experience in MSBI and Software Development.<br /><br />

I have worked with Multiple Corporates on a wide range of projects. 
<br />
<br />

 If you are lookoing for a candidate feel free to contact me. <br /><br />

Skype : sriharsha.developer <br />